/*! Paste your custom styles here */

.section-padding {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  /* .section-bg {
    background-color: #f0f8ff;
  } */


  /* .custom-text-box {
    background: var(--white-color);
    border-radius: var(--border-radius-medium);
    margin-bottom: 24px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
  } */

  .custom-text-box {
    background: var(--white-color);
    border-radius: var(--border-radius-medium);
    margin-bottom: 24px;
    padding-left: 10px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 20px; }
    @media only screen and (min-width: 1025px) {
      .custom-text-box {
        padding-left: 40px;
        padding-top: 20px;}
  
  .custom-text-box-image {
    border-radius: var(--border-radius-medium);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .custom-text-box-icon {
    background: var(--section-bg-color);
    border-radius: var(--border-radius-large);
    color: var(--secondary-color);
    font-size: var(--h6-font-size);
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    line-height: 30px;
  }

  /* .custom-text-block {
    padding: 60px 40px;
  } */

  .custom-list {
  margin-bottom: 0;
  padding-left: 0;
}

.custom-list-item {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
